{% extends 'base.html' %}

{% block content %}

    <h1 style="font-family: 'Lobster', cursive">Today's Budget</h1>

    <p style='font-size:72px'>{{ budget }}</p>

    {% if over %}
    	<p class='bg-warning'>Be careful! Yesterday you went over your budget by ${{ over_under_amount }}.</p>
    {% elif not over %}
    	<p style="padding: 10px" class='bg-success'>Excellent spending! Yesterday you were under your budget by ${{ over_under_amount }}!</p>
    {% elif over == 0 %}
    	<p class='bg-primary'>Great job yesterday! You were right on budget!</p>
    {% endif %}

{% endblock %}
