{% extends 'base.html' %}

{% block content %}

<h1 style="font-family: 'Lobster', cursive">Edit expense</h1>

<form action="/edit-expense/{{ expense_name|slugify }}/" method="post">
    {% csrf_token %}
    <h3 class='lead'>{{ expense_name }}</h3>
    {{ form }}
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>

<form action="/delete-expense/{{ expense_name|slugify }}/" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-sm btn-danger" value="Delete Expense" />
</form>

{% endblock %}
