{% extends 'base.html' %}

{% block content %}

{% if exps %}
  <h1 style="font-family: 'Lobster', cursive">Today's expenditures</h1>

    {% for exp in exps %}
    <form action='/delete-expenditure{{ exp.get_absolute_url }}' method='post'>
        {% csrf_token %}
        <p id="{{ exp.pk }}">
            {{ exp.note }} ${{ exp.cost }}
        <input type='submit' class='btn btn-sm btn-danger' value='DELETE' />
        </p>
    </form>
    {% endfor %}

    <p>See <a href="/expenditures/archive/">past expenditures</a></p>

{% else %}
  <h2 style="font-family: 'Lobster', cursive">No expenditures yet today.</h2>
{% endif %}

<p><a href="/enter-expenditure/">Enter expenditure</a></p>

{% endblock %}
