{% extends 'base.html' %}

{% block content %}

{% if expenses %}
    <h1>Your expenses</h1>
    
    {% for exp in expenses %}
    <ul>
        <li>{{ exp.expense_name }} {{ exp.cost }} {{ exp.frequency }} | <a href="/edit-expense/{{ exp.expense_name|slugify }}/">Edit</a></li>
    </ul>
    {% endfor %}
    
    <p><a href="/enter-expenses/">Enter more expenses</a>
{% else %}
    <h2>You don't have any expenses right now.</h2>
    
    <p><a href="/enter-expenses/">Enter some!</a></p>
{% endif %}

{% endblock %}
