{% extends 'base.html' %}

{% block content %}

{% if exps %}
  <h1>Today's expenditures</h1>
  
  <ul>
    {% for exp in exps %}
    <form action='/delete-expenditure{{ exp.get_absolute_url }}' method='post'>
        {% csrf_token %}
        <li id="{{ exp.pk }}">
            {{ exp.note }} {{ exp.cost }}
        </li>
        <input type='submit' class='btn btn-sm btn-danger' value='DELETE' />
    </form>
    {% endfor %}
  </ul>
{% else %}
  <h2>No expenditures yet today.</h2>
{% endif %}

<p><a href="/enter-expenditure/">Enter expenditures</a></p>

{% endblock %}
