{% extends 'base.html' %}

{% block content %}

  <h1 style="font-family: 'Lobster', cursive">Expenditures archive</h1>

  {% if years %}
    <h3 class='lead'>Select a year</h3>

    {% for year in years %}
      <p><a href='/expenditures/archive/{{year}}'>{{year}}</a></p>
    {% endfor %}
  {% endif %}

  {% if months %}
    <h3 class='lead'>Select a month</h3>

    {% for month in months %}
      <p><a href='/expenditures/archive/{{year}}/{{month}}'>{{month}}/{{year}}</a></p>
    {% endfor %}
  {% endif %}

  {% if days %}
    <h3 class='lead'>Select a day</h3>

    {% for day in days %}
      <p><a href='/expenditures/archive/{{year}}/{{month}}/{{day}}'>{{month}}/{{day}}/{{year}}</a></p>
    {% endfor %}
  {% endif %}

  {% if exps %}
    <h3 class='lead'>Select an expediture</h3>

    {% for exp in exps %}
      <p><a href='/expenditures/archive/{{year}}/{{month}}/{{day}}/{{exp.note|slugify}}'>{{exp.note}}</a></p>
    {% endfor %}
  {% endif %}

  {% if exp %}
    <h3 class='lead'>Delete or edit this expenditure</h3>

    <p>You spent <strong>${{exp.cost}}</strong> on <strong>{{exp.note}}</strong> on {{exp.date}}</p>

  {% else %}
    <h3 class='lead'>You haven't entered any expenditures yet.</h3>
  {% endif %}

{% endblock %}
