{% extends 'base-no_text_center.html' %}

{% block content %}

<h3 style="font-family: 'Lobster', cursive">Frequently asked questions</h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Why is Tipout better than other budgeting apps?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="text-info panel-body">
        Tipout is designed with the <em>singular</em> goal of making your life easier. Managing tips 
        is challenging and most budgeting apps are either complicated or have lots of features that 
        only multiply the challenge of budgeting on a day-to-day basis. Tipout <em>simplifies</em> 
        all of this so that managing your spending is much more pleasure than pain.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        How is my budget calculated?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="text-info panel-body">
        <p>
          Your daily budget is calculated by finding your average daily income (based on your average tips
          earned per day and your paychecks for the past 30 days) and substracting your daily expense cost
          (the total cost of your expenses divided by 30 days). Throughout the day, the budget will update
          to reflect your expenditures for the day.
        </p>
        <p>
          If you're over or under budget with your spending, then your budget for the next <strong>7 days</strong>
          will be adjusted to reflect this. So, if you're <em>over</em> budget, then your budget for the next
          7 days will be <em>reduced</em> slightly to make up for the loss, and if you're <em>under</em>, then
          your budget for the next 7 days will be <em>increased</em> slightly since you then have more to spend.
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
        What does it mean when my budget is <em>negative</em>?
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="text-info panel-body">
        <p>
          When you go over your budget for a day, your budgets for the next 7 days are offset to help you get balance out your spending. So, if you're over your budget for several days in a row, the offsets can compile and bring your budget below $0. This means that your expenses and expenditures are greater than your tips and paychecks you've entered.
        </p>
        <p>
          Usually this main reason behind this is forgetting to enter tips, paychecks, or other income that didn't come from tips or paychecks earned. If you forgot to add some tips or paychecks, don't worry! You can add them any time and select the appropriate date for when it was earned. If you have other money that isn't tips, paychecks, or savings, you can enter that on the <a href="/other-income/">other income</a> page.
        </p>
        <p>
          Note: Tipout treats "other income" similar to paychecks - it is spread across 2 weeks. So, for example, if you enter $140 
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        What's the difference between an <strong>expense</strong> and an <strong>expenditure</strong>?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="text-info panel-body">
        <dl class="dl-horizontal">
          <dt>An expense</dt>
          <dd>is a <strong>reoccuring</strong> bill or payment (e.g. rent, phone bill, car insurance)</dd>
          <dt>An expenditure</dt>
          <dd>is a <strong>one-off</strong> payment that isn't intended to happen regularly (e.g. lunch, dinner, coffee)</dd>
        </dl>
        <p>
          You may find that some things are more easily managed as expenses rather than expenditures.
          For example, if you buy the same bag of dog food each week, you could enter that as an <strong>expense</strong>,
          since you know you'll be buying it regularly.
        </p>
        <p>
          On the other hand, even though you may go out to lunch everyday, you should probably enter that
          as an <strong>expenditure</strong> since the cost will likely be different each time.
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        What if I want to put money into savings?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="text-info panel-body">
        <p>
          Great news: there are a couple of options for managing your savings!
        </p>
        <p>
          If you'd like Tipout to automatically deduct a specific percent of your income from your budget, then you can set that percentage on the <a href="/savings-setup/">saving setup</a> page. For example, if you set this to 20%, then if you enter $100 in tips only $80 of that will contribute to your budget.
        </p>
        <p>Alternatively, there's a page where you can "deposit" and "withdraw" money to and from your savings whenever and whatever amount you'd like. So, if you went to your bank today and deposited $200 into your savings account, then you could go to the <a href="/savings-transaction/">deposit and withdraw</a> page and record that deposit.
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Can I use Tipout if I don't earn tips?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="text-info panel-body">
        <p>
          Yes, you absolutely can! If you'd like to enter your income only as paychecks and ignore the tips section,
          then Tipout will calculate your budget based on just the paychecks.
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Is there a Tipout app for Android or iOS?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="text-info panel-body">
        <p>
          For now, Tipout is just a web app (i.e. it runs in the browser). There are a couple of reasons for this.
          <ol>
            <li>
              First, with a web app we're able to deploy changes and updates immediately. Deploying an app through
              the Google Play Store or Apple's App Store takes time and you would have to update your version of the app
              every time an update is made. We want to be able to react quickly to your feedback, so it's
              important that we can do that without the added inconvenience.
            </li>
            <li>
              Second, Tipout simply runs very fast in the browser. Native apps tend to be fast once they get going
              but are slow to start. You'll find that Tipout launches quickly since it doesn't have the overhead
              of a native app.
            </li>
          </ol>
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Why did it ask for my location when I signed up?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="text-info panel-body">
        <p>
          As we grow, we'd like to know where users are joining from! We're based in Nashville, Tennessee,
          but we want to help people from all across the country, so asking for your location is just
          a way to get to know you :)
        </p>
        <p>
          (We won't share your information with any third-parties or use it for advertisements or promotions.)
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        How do I cancel my subscription?
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="text-info panel-body">
        <p>
          You'll see the option to cancel if you select "Subscription" from the menu.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
