{% extends 'base.html' %}

{% block content %}

    <div class='jumbotron'>
      <h1 style="font-family: 'Lobster', cursive">Tipout</h1>
    <div>

    <p class='lead'>daily budgeting for servers & bartenders</p>

    </div>
      <a class="btn btn-lg btn-primary" href='/signup/' role="button">Create an account</a>
    </div>

    <hr />
    <p><h2 style="font-family: 'Lobster', cursive">Features</h2></p>
    <div class='row'>
      <div class='col-md-4 col-md-offset-1'>
          <p class='lead'>Track your earnings</p>
          <p>Enter your tips each day. Every two weeks enter the income you earn from your paycheck.
            See how much you've earned for the month and year.
          </p>
      </div>

      <div class='col-md-4 col-md-offset-2'>
          <p class='lead'>Manage your expenses</p>
          <p>Make a list of what you spend money on each month. Each day enter your expidentures.
            Use this to determine your daily discretionary spending limit.
          </p>
      </div>
    </div>

{% endblock %}
