{% extends 'base.html' %}

{% block content %}

{% if paychecks %}
  <h1 style="font-family: 'Lobster', cursive">Your paychecks</h1>
    {% for paycheck in paychecks %}
    <p><strong>${{ paycheck.amount }}</strong> on {{ paycheck.date_earned }} | <a href='/edit-paycheck/{{ paycheck.get_absolute_url }}/'>Edit</a></p>
    {% endfor %}
{% else %}
  <h2 style="font-family: 'Lobster', cursive">You don't have any paychecks yet.</h2>
{% endif %}

<p><a href='/enter-paycheck/'>Enter a paycheck</a></p>

{% endblock %}
