{% extends 'base.html' %}

{% block content %}

{% if paychecks %}
  <h1 style="font-family: 'Lobster', cursive">Paychecks archive </h1>
    <ul class='list-group'>
      {% for paycheck in paychecks %}
      <li class='list-group-item'>
        <form action='/delete-paycheck/{{ paycheck.pk }}/' method='post'>
            {% csrf_token %}
            <strong>${{ paycheck.amount }}</strong> on {{ paycheck.date_earned }}
            <a class="btn btn-sm btn-default" href="/edit-paycheck/{{ paycheck.pk }}/">Edit</a>
            <input type='submit' class='btn btn-sm btn-danger' value='DELETE' />
        </form>
      </li>
      {% endfor %}
    </ul>
{% else %}
  <h2 style="font-family: 'Lobster', cursive">You don't have any paychecks yet.</h2>
{% endif %}

<p><a href='/enter-paycheck/'>Enter a paycheck</a></p>

{% endblock %}
