{% extends 'base-no_text_center.html' %}

{% block content %}

	<h1 style="font-family: 'Lobster', cursive">Reset past budgets</h1>

	<p class="lead">You can reset your budget if you think that something wasn't calculated correctly. The formulas
		used to calculate your budget are all sound and tested, but that doesn't mean that no errors will ever occur.
	</p>
	<p class="lead">Resetting your budgets will not change or delete any of your tips, paychecks, 
		expenses, or expenditures data. It simply starts at the beginning (the date you signed up) and recalculates the budget for each day and then saves it.
	</p>

	<form action='/reset-budgets/' method='post'>
	  {% csrf_token %}
	  <input type='submit' class='btn btn-warning' value='RESET' />
	</form>

{% endblock %}