{% extends 'base.html' %}

{% block content %}

{% if tips %}
  <h1 style="font-family: 'Lobster', cursive">Your recent tips</h1>
    <div class='row'>
      <div class='col-md-4 col-md-offset-4'>
        {% for tip in tips %}
        <p>$<strong>{{ tip.amount }}</strong> on {{ tip.date_earned }}</p>
        {% endfor %}
      </div>
    </div>

    <hr style='width: 50%' />

    <div class="row">
      <p class='lead'>Average daily tips: {{ avg_daily_tips }}</p>
        {% if avg_based_on_init_avg %}
        <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
          <p style="padding: 10px" class='bg-info small'>Average is based on a combination of the initial daily tips average you entered when you signed up and the tips you've entered so far.</p>
        {% else %}
        <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
          <p style="padding: 10px" class='bg-info small'>Average based on past 30 days</p>
        {% endif %}
      </div>
    </div>

{% else %}
    <h2 style="font-family: 'Lobster', cursive">No recent tips (last 30 days)</h2>
{% endif %}
    
    <p><a href='/enter-tips/'>Enter tips</a> | <a href='/tips/archive/'>See past tips</a></p>

{% endblock %}
