{% extends 'base.html' %}

{% block content %}

  <h1 style="font-family: 'Lobster', cursive">Weekly Budget</h1>

  <p style='font-size:72px'>{{ weekly_budget }}</p>
  	
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
			<p style="padding: 10px" class='bg-info lead'>Note: this amount is an estimate. It's based on your recent tips and paychecks, as well as your expense costs per day and your expenditures for today. Your actual budget could be different depending on your tips, paychecks, and expenditures over the next 7 days.</p>
		</div>
	</div>

	<p><a href='/budget/'>Today's budget</a></p>

{% endblock %}
