{% extends "base.html" %}

{% block content %}

<div class="jumbotron">

  <h1 class="text-warning" style="font-family: 'Lobster', cursive">Sorry, we can't find that page!</h1>

  <p class="text-info">Error code: 404</p>

  <hr style="width: 100px" />

  {% if user.is_authenticated %}
    <p>Maybe you'd like one of these pages:</p>
    <p><a href="/budget/">Your budget</a></p>
    <p><a href="/tips/">Your tips</a></p>
    <p><a href="https://en.wikipedia.org/wiki/Special:Random">Random Wikipedia article</a></p>
  {% endif %}

</div> <!-- jumbotron -->

{% endblock %}
