{% extends 'demo-base.html' %}

{% block content %}

{% if exps %}
  <h1 style="font-family: 'Lobster', cursive">Today's expenditures</h1>

    {% for exp in exps %}
    <form action='/demo/delete-expenditure/{{ exp.pk }}/' method='post'>
        {% csrf_token %}
        {# <p id="{{ exp.pk }}"> #}
        <p>
        {{ exp.note }} cost <strong>${{ exp.cost }}</strong>
        <a class="btn btn-sm btn-default" href="/demo/edit-expenditure/{{ exp.pk }}/">Edit</a>
        <input type='submit' class='btn btn-sm btn-danger' value='DELETE' />
        </p>
    </form>
    {% endfor %}

{% else %}
  <h1 style="font-family: 'Lobster', cursive">No expenditures for today yet.</h1>
{% endif %}

<div class='row'>
  <div style='margin-top: 40px'>
    <a href="/demo/enter-expenditure/">Enter expenditure</a> | <a href="/demo/expenditures/archive/">Past expenditures</a> | <a href="/demo/spending-profile/">Spending profile</a>
  </div>
</div>

{% endblock %}
