{% extends 'demo-base-no_text_center.html' %}

{% load static %}

{% block content %}

<h1 style="font-family: 'Lobster', cursive;">How to add a link to your home page</h1>

<p class="lead">Even though Tipout runs in a browser, that doesn't mean you have to type in 'tipoutapp.com' every time you want to use it!</p>

<p class="lead">To make things simpler, just add a link to Tipout to your home screen. Here's how: </p>

<p class="text-info">(In this example we're using Google's Chrome browser on Android, but the same idea works for other browsers and iOS, too.)</p>

<p class="lead">First, open your browser and navigate to <a href='https://www.tipoutapp.com'>Tipoutapp.com</a>. In the top right corner of the app, you'll see three stacked dots that mark the browser menu.</p>

<div class="well" style="max-width: 50%; margin: 40px">
	<img src="{% static 'tipout/make_homepage_link/menu_button.png' %}" alt="menu button" style="max-width: 100%;" />
</div>

<p class="lead">Open the menu and select "Add to Home Screen". (This is what it looks like in Chrome. Other browsers may differ slightly.)</p>

<div class="well" style="max-width: 50%; margin: 40px">
	<img src="{% static 'tipout/make_homepage_link/add_to_homepage.png' %}" alt="menu button" style="max-width: 100%"/>
</div>

<p class="lead">Finally, name the link "Tipout" and select "Add".</p>

<div class="well" style="max-width: 50%; margin: 40px">
	<img src="{% static 'tipout/make_homepage_link/name_link.png' %}" alt="menu button" style="max-width: 100%"/>
</div>

<p class="lead">That's it! Best wishes :)</p>

{% endblock %}