{% extends 'demo-base.html' %}

{% block content %}

{% if paychecks %}
  <h1 style="font-family: 'Lobster', cursive">Paychecks archive </h1>
    <table class='table tabled-striped'>
      <tr>
        <td><strong>Date</strong></td>
        <td><strong>Amount</strong></td>
        <td><strong>Options</strong></td>
      {% for paycheck in paychecks %}
      <tr>
        <td>{{ paycheck.date_earned }}</td>
        <td>${{ paycheck.amount }}</td>
        <td>
          <form action='/demo/delete-paycheck/{{ paycheck.pk }}/' method='post'>
              {% csrf_token %}
              <a class="btn btn-sm btn-default" href="/demo/edit-paycheck/{{ paycheck.pk }}/">Edit</a>
              <input type='submit' class='btn btn-sm btn-danger' value='DELETE' />
          </form>
        </td>
      {% endfor %}
    </table>
{% else %}
  <h2 style="font-family: 'Lobster', cursive">You don't have any paychecks yet.</h2>
{% endif %}

<p><a href='/demo/enter-paycheck/'>Enter a paycheck</a></p>

{% endblock %}
