{% extends 'demo-base.html' %}

{% block content %}

<h1 style="font-family: 'Lobster', cursive">Edit expense</h1>

<form action="/demo/edit-expense{{ expense.get_absolute_url }}/" method="post">
  {% csrf_token %}
  <h3 class='lead'>{{ expense.expense_name }}</h3>
  {{ form.as_p }}
  <input type="submit" class="btn btn-primary" value="Submit" />
</form>

<p>
  <form action="/demo/delete-expense{{ expense.get_absolute_url }}/" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-sm btn-danger" value="Delete" />
  </form>
</p>

{% endblock %}
