{% extends "demo-base-no_text_center.html" %}

{% block content %}

<h1 style="font-family: 'Lobster', cursive">Savings setup</h1>

<div style="padding: 10px" class="bg-info">
	<p>You can set a percent of your income to save each month. This will be saved separate from your tips & paychecks and won't be factored into your daily & weekly budgets.</p>
	<p>For example, suppose you choose to save 20% monthly. If you then enter $100 in tips, $20 will be recorded as "savings" and $80 will be recorded as spendable income that can go toward your expenses and expenditures.</p>
	<p>If you don't want to have savings automatically deducted, you can manually <a href="/demo/savings-transaction/">add to your savings</a> anytime you wish.</p>
</div>

{% if savings_percent %}
	<p class="lead">Currently your monthly savings is set at <strong>{{ savings_percent }}%</strong>.</p>
	<p class="lead">You can change this percentage here:</p>
{% endif %}

<form class='form-horizontal' action="/demo/savings-setup/" method="post">
    <div>
      {% csrf_token %}
      {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>
</form>

{% endblock %}
