{% extends 'demo-base.html' %}

{% block content %}

    <h1 style="font-family: 'Lobster', cursive">Today's Budget</h1>

    <p style='font-size:72px'>{{ budget }}</p>

    <p><a href='/demo/weekly-budget/'>Weekly budget</a></p>

    {% if negative_budget %}
        <p style="padding: 10px" class='bg-warning'>If you spend too much in a short period of time, your budget for a day can be negative. This effectively means that you shouldn't spend any money that day and instead should enter more earnings and try to get your budget back into the positive range. (See the <a href="/faq">FAQ</a> for more info.</p>
    {% endif %}
    {% if yesterday_budget_negative %}
        <p style="padding: 10px" class='bg-warning'> (See the <a href="/demo/faq">FAQ</a> for more info.</p>
    {% elif over == -1 %}
    	<p style="padding: 10px" class='bg-warning'>Be careful! Yesterday you went over your budget by ${{ over_under_amount }}.</p>
    {% elif over == 1 %}
    	<p style="padding: 10px" class='bg-success'>Excellent spending! Yesterday you were under your budget by ${{ over_under_amount }}!</p>
    {% elif over == 0 %}
    	<p style="padding: 10px" class='bg-success'>Great job yesterday! You were right on budget!</p>
    {% elif not over %}
    	<p style="padding: 10px" class='bg-primary'>This is where we'll tell you whether you were under or over your budget for the previous day and by how much. Good luck out there :))</p>
    {% endif %}

{% endblock %}
