{% extends 'base.html' %}

{% block content %}

  <h1 style="font-family: 'Lobster', cursive">All feedback</h1>
  <table class='table table-striped'>
    <tr>
      <td class="lead">User</td>
      <td class="lead">Date</td>
      <td class="lead">Feedback</td>
      <td class="lead">Refer likelihood</td>
    </tr>
    {% for item in feedback %}
    <tr>
      <td>item.email</td>
      <td>item.date</td>
      <td>item.feedback</td>
      <td>item.refer_likelihood</td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
